<h2 id="about-me-section" class="title">{{site.about_me_title}}</h2>
<!--<p class="description" data-aos="fade">{{site.about_me_description}}</p>-->
<p class="description" data-aos="fade">
    As a bioinformatician, I'm passionate about connecting evolutionary processes with real-world applications. I use advanced machine-learning techniques to solve biological challenges. In my day-to-day work, I study how viral diseases evolve to help the scientific community make important discoveries that can improve public health.
</p>
<p class="description" data-aos="fade">
    Outside of work, I immerse myself in open-source projects, fueling my dedication to the field. I also enjoy hiking and capturing the beauty of nature through photography. These hobbies balance my analytical side, allowing my creativity to flourish. I'm always eager to learn and often dedicate time to acquiring new skills or expanding my knowledge. And to top it off, I'm the proud dad of two mischievous cats!
</p>
